:root {
    --padding: 1em;
}

* {
    box-sizing: border-box;
}

BODY {
    background-image: url("/assets/bg/matrix.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	padding: var(--padding);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	max-width: 80rem;
	margin: 0 auto;
}
H1, H2, H3, H4 {
    margin: 0;
}
HEADER, SECTION {
    border-radius: var(--padding);
	background: rgba(255, 255, 255, 0.95);
	padding: var(--padding);
	margin-bottom: var(--padding);
	box-shadow: #444 0px 0px 20px;
}
HEADER {
    padding: 4rem 6rem;
    H1 {
        font-size: 4rem;
        letter-spacing: -1px;
    }
    P {
        font-size: 1.2rem;
        margin: 0;
        text-wrap: balance;
    }
}
SECTION {
	border-radius: var(--padding);
	background: rgba(255, 255, 255, 0.95);
	padding: 1.5rem;
	margin-bottom: 2rem;
	box-shadow: #444 0px 0px 20px;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(12, 1fr);

	H2 {
    	grid-column: span 12;
	}
	SMALL {
        font-weight: normal;
        color: #888;
    }
	IMG {
	    width: 100%;
		border: 1px solid #ccc;
		padding: 0.25rem;
        border-radius: 0.25rem;
        object-fit: cover;
        object-position: top;
	}
	A IMG {
	    border-color: #44A;
	}
	A IMG:hover {
	    border-color: #44A;
		box-shadow: #44A 0px 0px 10px;
	}
	P {
	    font-size: 0.9rem;
		margin: 0;
	}
	.span3 {
    	grid-column: span 3;
     IMG {
         aspect-ratio: 3 / 2;
     }
	}
	.span4 {
    	grid-column: span 4;
        IMG {
            aspect-ratio: 36 / 15;
        }
	}
	.span6 {
    	grid-column: span 6;
     IMG {
         aspect-ratio: 56/15;
     }
    }
}

DIALOG::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}
